th{
	text-align: left;
}

.axis_drop{
}

#dropPointX{
}

#dropPointY{
}

textarea.child {
      height:100%;
}
  
circle, text{
    cursor:pointer;
}
  
div.parent {height:60px;}
textarea.child {height:100%;}

#preloader_img{
	margin-right: 16px;
	width: 24px;
	height: 24px;
}

.comparison table td, .comparison table th{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding:0px 0px 0px 0px;
}

.comparison table #r0{
	background: #eee;
	padding:2px;
}

.comparison table td{
	border-bottom: 1px solid #ccc;
}

img.tick{
	width:18px;
	height:18px;
}

#graph_table{
  table-layout:fixed;
  border-spacing:0px;
}

img.no{
	width:18px;
	height:18px;
}

th{
    text-align:center;
}

th.td_abstract{
    text-align:left;
    width:50%;
}

.axis_drop div{
    text-align: center;
}

#wGraph *{
    overflow: hidden;
}

#dropPointY  div{
    overflow:visible;
}

td.numeric
{
/*	color: #222;*/
}

td.tick, td.no
{
	text-align:center;
}

#error_overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
     background-color: rgba(0,0,0,0.3);
}

#error_report {
     width:800px;
     height: 500px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
     overflow-x:scroll;
     overflow-y:scroll;
}

.text_input {
     height: 12px;
}

#comparison .EffectMan {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.help{
    z-index: 10000;
    background: #000000;
    position: absolute;
    width: 800px;
    height: 550px;
    color: #FFFFFF;
}

.fadeOverlay{
    z-index: 9000;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #FFFFFF;
    opacity: 0.5;
    top: 0;
    left: 0;
}

.window-helpButton.active{
    background: url("/images/help_hover.png");
}


.window-helpButton {
    background: url("/images/help.png");
    cursor: pointer;
    height: 16px;
    right: 25px;
    position: absolute;
    top: 4px;
    width: 17px;
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
}

iframe {
    overflow-x: hidden;
    overflow-y: hidden;
} 
