html, body{
    height:95%;
}

th{
	text-align: left;
}

textarea.child {
      height:100%;
}
  
circle, text, rect.square, polygon.octagon{
    cursor:pointer;
}
  
div.parent {height:60px;}
textarea.child {height:100%;}

#preloader_img{
	margin-right: 16px;
	width: 22px;
	height: 22px;
}

th{
    text-align:center;
}

#wGraph *{
    overflow: hidden;
}

#error_overlay {
     display: none;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
     background-color: rgba(0,0,0,0.3);
}

#error_report {
     width:800px;
     height: 450px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:left;
     overflow-x:scroll;
     overflow-y:scroll;
}

#close_error{
    cursor: pointer; 
    border: 1px solid #ccc; 
}

.searchOmitted {
    display: none;
}

.text_input {
     height: 12px;
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
}

iframe {
    overflow-x: hidden;
    overflow-y: hidden;
} 

.normal_option{

}

.first_option{
    color: gray;
}

fieldset{
    padding:0px;
    margin:0px;
}

#clafer_editor { 
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#ClaferListCont .chosen-with-drop .chosen-drop {
    visibility: visible;
}

#ClaferListCont .chosen-drop {
    border-bottom: 0;
    border-top: 1px solid #aaa;
    z-index: 3000;
    position: fixed;
    visibility: hidden;
}

#clafer_editor .ace_search, #console_editor .ace_search {
    z-index: 1000;
}

.save_button{    
    display: inline-block; 
    border: 1px solid #ccc;
    width:21px;
    height:18px;
    padding:0;
    margin:0;
    cursor:pointer;
    background: url('images/save.png');
} 

.save_button:hover{    
    border: 1px solid white;
}

.scopeInput {
    width:30px;
}

#input_scopes {
    display:none;
}

#input_flags {
    display:none;
}

#input_bottom_container{
    background: white;
}