.background path {
  fill: none;
  stroke: #ccc;
  stroke-opacity: .4;
  shape-rendering: crispEdges;
  cursor: pointer;
}

.foreground path {
  fill: none;
  stroke: steelblue;
  stroke-opacity: .7;
  stroke-width: 1.5px;
  cursor: pointer;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff;
  cursor: move;
}


.active .label:not(.inactive) {
  font-weight: bold;
}

.label.inactive {
  fill: #ccc;
}

.foreground path.inactive {
  stroke: #ccc;
  stroke-opacity: .5;
  stroke-width: 1px;
}

.foreground path.active {
  stroke: #0b0;
  stroke-opacity: .9;
  stroke-width: 3.0px;
}

.foreground path.selected {
  stroke-opacity: 1.0;
  stroke-width: 4.0px;
}
